<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= raw @blog.body %>
</p>

<p>
  <strong>Category:</strong>
  <%= @blog.category %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>

<%= javascript_include_tag 'parallax', 'data-turbolinks-track' => true %>