

<!--Footer-->

<div id="hero-footer">
  <div id="hero-bg-footer" class="hero-bg"></div>

  <div class="hero-content-footer">

    <div class="row">

      <!--menu left-->
      <div class="small-12 medium-12 large-3 columns footer-align footer-links">
        <li>
          <!--<#%= link_to 'ABOUT', about_path %>-->
          <br><%= link_to 'PRICING', faqs_path %>
          <br><%= link_to 'TERMS AND CONDITIONS', toc_path %>
          <br><%= link_to 'PRIVACY', privacy_path %>
          <br><%= link_to 'CONTACT', contact_path %>
          <br><%= link_to 'FAQs', faqs_path %>
      </div>
      <div class="small-12 medium-12 large-6 columns footer-align small-centred">
        <div class="row" style="margin: 0 auto">
          <div class="small-12 columns small-centred social-media-icons">
            <!--social media icons middle-->
            <a href="https://www.facebook.com/helloflexi" target="_blank" title="Facebook">
              <%= fa_icon 'facebook' %>   </a>
            </a>
            <a href="https://instagram.com/helloflexi/" target="_blank" title="Instagram">
              <%= fa_icon 'instagram' %>
            </a>
            <a href="https://twitter.com/helloflexi" target="_blank" title="Twitter">
              <%= fa_icon 'twitter' %>
            </a>
            <a href="https://plus.google.com/108021755841542284309/about/p/pub?hl=en-GB&amp;service=PLUS" target="_blank" title="Google Plus">
              <%= fa_icon 'google-plus' %>
            </a>
            <a href="https://www.pinterest.com/helloflexi/" target="_blank" title="Pinterest">
              <%= fa_icon 'pinterest' %>
            </a>
          </div>
        </div>
      </div>
      <!-- quote right -->
      <div class="large-3 columns footer-align hide-for-medium-down">
        <li style="text-align: right;" >
          Can't live off air and love
        </li>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns"><li style="color: #fffefa; padding-top:10px; border-top: white 1px; ">
        <%= fa_icon 'copyright', style: 'color:#fffefa;' %> 2015 Helloflexi Inc.

      </li>
      </div>
    </div>


  </div>

</div>


<!--<footer class="footer">-->
<!--<div class="row full-width">-->
<!--<div class="small-12 medium-3 large-4 columns">-->
<!--<i class="fi-laptop"></i>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maiores alias ea sunt facilis impedit fuga dignissimos illo quaerat iure in nobis id quos, eaque nostrum! Unde, voluptates suscipit repudiandae!</p>-->
<!--</div>-->
<!--<div class="small-12 medium-3 large-4 columns">-->
<!--<i class="fi-html5"></i>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit consequuntur at! Amet sed itaque nostrum, distinctio eveniet odio, id ipsam fuga quam minima cumque nobis veniam voluptates deserunt!</p>-->
<!--</div>-->
<!--<div class="small-6 medium-3 large-2 columns">-->
<!--<ul class="footer-links">-->
<!--<li><#%= link_to 'About', about_path %></li>-->
<!--&lt;!&ndash;<li><a href="#">Pricing</a></li>&ndash;&gt;-->
<!--<li><#%= link_to 'The Fine Print', toc_path %></li>-->
<!--<li><#%= link_to 'Privacy', privacy_path %></li>-->
<!--<li><#%= link_to 'Contact', contact_path %></li>-->
<!--<li><a href="#">FAQ's</a></li>-->
<!--<ul>-->
<!--</div>-->
<!--<div class="small-6 medium-3 large-2 columns">-->
<!--<ul class="footer-links">-->
<!--<li><a href="#">Facebook</a></li>-->
<!--<li><a href="#">Twitter</a></li>-->
<!--<li><a href="#">Google</a></li>-->
<!--<li><a href="#">Instagram</a></li>-->
<!--<ul>-->
<!--</div>-->
<!--</div>-->
<!--</footer>-->
