<div id="content-wrapper">
    <div class="row">
      <div class="large-8 columns large-centered">
        <div class="contact-panel">
          <p class="welcome">Get in Contact</p>
          <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix"><%= fa_icon 'user' %></i></span>
            </div>
            <div class="small-10 columns">
              HelloFlexi
            </div>
          </div>

          <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix"><%= fa_icon 'envelope-o' %></i></span>
            </div>
            <div class="small-10 columns">
              info@helloflexi.com
            </div>
          </div>

          <!--<div class="row collapse">-->
            <!--<div class="small-2  columns">-->
              <!--<span class="prefix"><#%= fa_icon 'phone' %></i></span>-->
            <!--</div>-->
            <!--<div class="small-10 columns">-->
              <!--0409 999 999-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="row collapse">-->
            <!--<div class="small-2  columns">-->
              <!--<span class="prefix"><#%= fa_icon 'umbrella' %></i></span>-->
            <!--</div>-->
            <!--<div class="small-10 columns">-->
              <!--HoReilly PTD LTD-->
            <!--</div>-->
          <!--</div>-->

          <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix"><%= fa_icon 'slack' %></i></span>
            </div>
            <div class="small-10 columns">
              ABN: 86 602 385 428
            </div>
          </div>

          <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix"><%= fa_icon 'instagram' %></i></span>
            </div>
            <div class="small-10 columns">
              <%= link_to 'Instagram', 'http://instagram.com/helloflexi/' %>
            </div>
          </div>

          <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix"><%= fa_icon 'facebook' %></i></span>
            </div>
            <div class="small-10 columns">
              <%= link_to 'Facebook', 'https://www.facebook.com/helloflexi' %>
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix"><%= fa_icon 'twitter' %></i></span>
            </div>
            <div class="small-10 columns">
              <%= link_to 'Twitter', 'https://twitter.com/helloflexi' %>
            </div>
          </div>
        </div>
      </div>
 </div>
</div>
