<div id="hero">
  <div id="hero-bg" class="hero-bg"></div>

  <div class="hero-logo">
    <%= image_tag 'http://img.helloflexi.com/img/logo_blue_round_smallx2.png', :class => 'helloflexi_logo' %>
  </div>

  <div class="hero-content1">
    <h2>ALL OF THE CLASSES</h2>
    <p>We do the best fitness classes on the planet - with one membership. </p><p>Ready?</p>


    <!-- Call to action top -->
    <%= link_to 'JOIN NOW', new_user_registration_path, class: 'button radius call-to-action-button', id: 'call-to-action-hero' %>

    <!-- END call to action -->

  </div>
</div>
<div class="circle-copy">
  <%= image_tag 'http://img.helloflexi.com/img/Girl_in_ParkCR.jpg', :class => 'circle-picture' %>

  <p style="text-align: center">
    "This is the most fun I’ve had without a cider!" <br> @sophie91
  </p>
</div>
<div id="hero2">
  <div id="hero-bg2" class="hero-bg"></div>

  <div class="hero-content2">
    <div class="row">
      <div class="small-12 large-6 large-offset-6 columns">

        <h1>BRING FLEXI BACK</h1>

      </div>
      <div class="small-12 large-6 large-offset-6 columns">

        <p>We get it, balancing your life and staying healthy is tough.</p>
        <p>Turn the tables.</p>
        <p>Get access to Melbourne’s best fitness studios, now.</p>

      </div>
    </div>

  </div>

</div>
</div>
<div class="circle-copy">

  <%= image_tag 'http://img.helloflexi.com/img/City_BG_laughing_girlCR.jpg', :class => 'circle-picture' %>

  <p style="text-align: center">
    “I squeezed in yoga before dinner with the girls.
    <br> And I’m trying my first Barre class tomorrow, excited!”
    <br> Jen, 28


  </p>
</div>

<!--hero 3 don't sweat it -->
<div id="hero3">
  <div id="hero-bg3" class="hero-bg"></div>

  <div class="hero-content3">
    <h1>DISCOVER SOMETHING NEW</h1>
    <p>We've hand picked classes all over Melbourne.</p>
    <p class="show-for-medium-up"> Don't search for more ways to stay healthy, we've got you covered.</p>
  </div>

</div>
<div class="circle-copy">
  <h2 style="text-align: center">
    <%= fa_icon 'quote-left' %> I just joined a BootCamp with one click. <br>Hello Booty! <%= fa_icon 'quote-right' %><br> Jess, 23
  </h2>
</div>

<!--hero 4 Join the Lifestyle -->
<div id="hero4">
  <div id="hero-bg4" class="hero-bg"></div>

  <div class="hero-content4">
    <h1>JOIN THE LIFESTYLE</h1>
  </div>

</div>
<div class="circle-copy">

  <h1 style="text-align: center">
    <strong>
      SHAKE UP YOUR ROUTINE
    </strong>
  </h1>
  <p style="text-align: center">
    Pick from Barre, Cycling, Pilates, Yoga, Dance, Bootcamp, Strength training, Spin and so much more.</p>
  <%= image_tag 'http://img.helloflexi.com/img/Yoga_pose.jpg', :class => 'circle-picture' %>
</div>
<div id="hero5">
  <div id="hero-bg5" class="hero-bg"></div>

  <div class="hero-content5">
    <h1>#alloftheclasses</h1>
  </div>

</div>

<div class="circle-copy" style="margin-bottom: 0px;">
  <h1 style="text-align: center">
    <strong>
      STUDIOS
    </strong>
  </h1>


  <div class="row" id="studio-list">
    <div class="small-6 large-3 columns">
      <strong>City</strong>
      <ul>
        <li>Aleenta Barre</li>
        <li>CrossFit 224</li>
        <li>Fitline</li>
        <li>The Yoga Social</li>
        <li>Productive Health and Wellness</li>
        <li>Melbourne Natural Wellness Studio</li>
        <li>Spin2Win</li>
        <li>Pilates on Bourke</li>
        <li>Passion Dance Studio</li>
        <li>Metafit CBD</li>
        <li>Nirvana Mobile Yoga</li>
        <li>Bodhi Yoga</li>
        <li>Tango Melbourne</li>
      </ul>
    </div>
    <div class="small-6 large-3 columns">

      <strong> South Yarra </strong>
      <ul>
        <li>CrossFit South Yarra</li>
        <li>Acumotum</li>
        <li>Freedom of Movement</li>
        <li>Bridge Fitness</li>
        <li>Kick PT</li>
        <li>No Lights No Lycra</li>
      </ul>

    </div>
    <div class="small-6 large-3 columns">
      <strong>Richmond</strong>
      <ul>
        <li>Rise Yoga</li>
        <li>Cycle Collective</li>
        <li>Phoenix Dance Studio</li>
        <li>Inside Out Wellness</li>
        <li>Stiles Training</li>
        <li>FITAS</li>
        <li>Skulpt PT</li>
        <li>Bridge Yoga</li>
      </ul>

    </div>
    <div class="small-6 large-3 columns">
      <strong>Fitzroy</strong>
      <ul>
        <li>North Yoga</li>
        <li>5th Element Wellness</li>
        <li>Melbourne Salsa</li>
        <li>Kundalini House</li>
        <li>Vibes Yoga Melbourne</li>
      </ul>


    </div>
    <div class="small-6 large-3 columns">
      <strong>Toorak</strong>
      <ul>
        <li>Yoga Dance Moves</li>
        <li>Pilates Wellness Australia</li>
      </ul>
    </div>
    <div class="small-6 large-3 columns">
      <strong>St Kilda</strong>
      <ul>

        <li>PITFIT</li>
        <li>Supa Fight Gym</li>
        <li>Melbourne Salsa</li>
        <li>Bridge Fitness</li>
        <li>Six Harmonies Martial Art</li>
        <li>Zumba United</li>
        <li>St Kilda Fit Club</li>
        <li>FitMiss</li>
        <li>Results In Motion</li>
      </ul>

    </div>
    <div class="small-6 large-3 columns">
      <strong>South Melbourne</strong>
      <ul>
        <li>F45 Training</li>
        <li>Result Based Training</li>
        <li>The South Melbourne Gym</li>
        <li>You Can Dance Studio</li>
      </ul>

    </div>

    <div class="small-6 large-3 columns">
      <strong>Hawthorn</strong>
      <ul>
        <li>F45 Training</li>
        <li>Fitstrong</li>
      </ul>

    </div>
    <div class="small-6 large-3 columns">
      <strong>Prahran</strong>
      <ul>
        <li>Rio Dance Studio</li>
        <li>The Collective Yoga and Pilates studio</li>
        <li>Power and Posture</li>
      </ul>

    </div>
    <div class="small-6 large-3 columns">
      <strong>Carlton</strong>
      <ul>
        <li>Princess Park Bootcamp</li>
      </ul>

    </div>
    <div class="small-6 large-3 columns">
      <strong>Airport West</strong>
      <ul>
        <li>CrossFit 224</li>
        <li>CrossFit Moonee Valley</li>
      </ul>

    </div>
    <div class="small-6 large-3 columns">
      <strong>West Melbourne</strong>
      <ul>
        <li>The Yoga Place</li>
      </ul>

    </div>
    <div class="small-6 large-3 columns">
      <strong>Alphington</strong>
      <ul>
        <li>Alterego</li>
        <li>Take Shape Fitness</li>
      </ul>

    </div>
    <div class="small-6 large-3 columns">
      <strong>Collingwood</strong>
      <ul>
        <li>Australian School of Meditation and Yoga</li>
        <li>Somachi Yoga</li>
      </ul>

    </div>
    <div class="small-6 large-3 columns">
      <strong>Brunswick</strong>
      <ul>
        <li>No Lights No Lycra</li>
        <li>DMD’s MMA</li>
        <li>Dominican Dance Company</li>
        <li>Powerplay Gym</li>
        <li>Salsa in Motion</li>
      </ul>

    </div>
    <div class="small-6 large-3 columns">
      <strong>Malvern</strong>
      <ul>
        <li>Hit the Floor Dance Studio</li>
        <li>Flavours of Yoga</li>
        <li>Time for Yoga</li>
        <li>The Habitat Space</li>
      </ul>

    </div>
    <div class="small-6 large-3 columns">
      <strong>Balwyn</strong>
      <ul>
        <li>Dynamic Boxing</li>
        <li>Body Vision</li>
      </ul>

    </div>
    <div class="small-6 large-3 columns">
      <strong>Tullamarine</strong>
      <ul>
        <li>Focus Fitness</li>
      </ul>

    </div>
    <div class="small-6 large-3 columns">
      <strong>Yarraville</strong>
      <ul>
        <li>Focus Fitness</li>
        <li>Born to Boogie Dance Connection</li>
        <li>Fit Squad</li>
      </ul>

    </div>
    <div class="small-6 large-3 columns">
      <strong>Elwood</strong>
      <ul>
        <li>Energize and Recharge</li>
      </ul>

    </div>

    <div class="small-6 large-3 columns">
      <strong>Mooroolbark</strong>
      <ul>
        <li>Make Me Do It Health & Fitness</li>
      </ul>

    </div>
    <div class="small-6 large-3 columns">
      <strong>Brighton</strong>
      <ul>
        <li>One Fitness</li>
      </ul>
    </div>
    <div class="small-6 large-3 columns">
      <strong>Williamstown</strong>
      <ul>
        <li>Together Fit</li>
      </ul>
    </div>
    <div class="small-6 large-3 columns">
      <strong>Caroline Springs</strong>
      <ul>
        <li>Metafit Caroline Springs</li>
      </ul>
    </div>
    <div class="small-6 large-3 columns">
      <strong>Moonee Ponds</strong>
      <ul>
        <li>Loudy Wiggins Fitness</li>
        <li>Studio 3 Australia</li>
        <li>Crossfit 3039</li>
      </ul>
    </div>
    <div class="small-6 large-3 columns">
      <strong>Essendon</strong>
      <ul>
        <li>Yoga Freedom</li>
      </ul>
    </div>
    <div class="small-6 large-3 columns">
      <strong>Middle Park</strong>
      <ul>
        <li>Metafit Middle Park</li>
      </ul>
    </div>
    <div class="small-6 large-3 columns">
      <strong>Thornbury</strong>
      <ul>
        <li>Fitstrong</li>
        <li>No Lights No Lycra</li>
      </ul>
    </div>
    <div class="small-6 large-3 columns">
      <strong>Heatherton</strong>
      <ul>
        <li>Star Fitness</li>
      </ul>
    </div>
    <div class="small-6 large-3 columns">
      <strong>Kew</strong>
      <ul>
        <li>Yoga School of Health</li>
        <li>Fitness Dimensions</li>
        <li>Metafit North & East</li>
      </ul>
    </div>
    <div class="small-6 large-3 columns">
      <strong>Oakleigh</strong>
      <ul>
        <li>LB Fitness</li>
      </ul>
    </div>
    <div class="small-6 large-3 columns">
      <strong>Camberwell</strong>
      <ul>
        <li>Bodysharp</li>
      </ul>
    </div>
    <div class="small-6 large-3 columns">

      <strong>Footscray</strong>
      <ul>
        <li>Yum Yoga</li>
      </ul>
    </div>
    <div class="small-6 large-3 columns">
      <strong>Glen Iris</strong>
      <ul>
        <li>Bodysharp</li>
      </ul>
    </div>
    <div class="small-6 large-3 columns">

      <strong>Ivanhoe</strong>
      <ul>
        <li>Metafit North & East</li>
      </ul>
    </div>
    <div class="small-6 large-3 columns">
      <strong>Ripponlea</strong>
      <ul>
        <li>Integrated Body Arts</li>
      </ul>
    </div>

    <div class="small-6 large-3 columns">
      <strong>Caulfield South</strong>
      <ul>
        <li>Azra Belly Dance</li>
      </ul>
    </div>

    <div class="small-6 large-3 columns">
      <strong>Coburg</strong>
      <ul>
        <li>Showy Dance</li>
      </ul>
    </div>

    <div class="small-6 large-3 columns">
      <strong>Port Melbourne</strong>
      <ul>
        <li>Metafit CBD</li>
        <li>Radiant Sol Yoga</li>
      </ul>
    </div>

    <div class="small-6 large-3 columns">
      <strong>Glen Waverley</strong>
      <ul>
        <li>Results In Motion</li>
      </ul>
    </div>
    <div class="small-6 large-3 columns">
      <strong>Mt Eliza</strong>
      <ul>
        <li>Results In Motion</li>
      </ul>
    </div>
  </div>
</div>
<!-- Call to action bottom -->
<% unless current_user %>
    <%= link_to 'JOIN NOW', new_user_registration_path, class: 'button radius call-to-action-button small-centred', id: 'call-to-action-footer' %>
<% end %>
<!-- END call to action -->

<%= javascript_include_tag 'parallax', 'data-turbolinks-track' => true %>