<style>
    #hero{
        position: relative;
        height: 640px;
        overflow: hidden;
        background-position: 50% 50%;
        background-size:cover;
        box-sizing: content-box;
        -webkit-background-size: cover;
        top: -72px;

    }

     #hero-bg {
        position: absolute;
        width: 100%;
        height: 750px;
        top: 0;
        bottom: 0;
         background-image: url('http://reif.io/lib/hf/lying_down_bootcamp.jpg');
        /*background-image: url('<#%= @studio.logo %>');*/
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
        #hero h1 {

        }

</style>

<p id="notice"><%= notice %></p>
<div id="hero">
  <div id="hero-bg"></div>

  <div class="hero-content">
    <h1><%= @studio.studio_name %>Studio Name</h1>
  </div>

</div>

</div>
<div class="row centered-text" id="content-wrapper">
  <h1>About</h1>
  <%= @studio.description %>

  <h1>Address</h1>
  <%= @studio.description %>

  <h1>UpComing Classes</h1>
  <% @klasses.each do |klass| %>
      <div><%= klass.title %></div>
  <% end %>

  <%= link_to 'Edit', edit_studio_path(@studio) %>
</div>

<%= javascript_include_tag 'parallax', 'data-turbolinks-track' => true %>